.card {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text {
    color: blue;
    margin: 40px 200px;
    background-color: white;
    padding: 10px;
}